<div class="container mt-5">
  <div class="row">
    <div class="row col-6 mx-auto justify-content-between">
      <div class="col-4 left">
        <h6>*請輸入欄位</h6>
      </div>
      <div class="col-8 right">
        <h2>請輸入你的支出</h2>
      </div>
    </div>
    <form action="/"></form>
    {{!-- <form action="/todos" method="POST" style="display: inline;">
      <div class="input-group">
        <input class="form-control" type="text" placeholder="name" name="name">
        <div class="input-group-append">
          <button class="btn btn-success" type="submit">Create</button>
        </div>
      </div>

      <div class="form-row ">
        <div class="input-group col-6 mt-3">
          <input class="form-control" type="text" placeholder="name" name="name-en">
          <div class="input-group-append">
            <button class="btn btn-success" type="submit">Create</button>
          </div>
        </div>
        <div class="input-group col-6 mt-3">
          <input class="form-control" type="text" placeholder="name" name="name1">
          <div class="input-group-append">
            <button class="btn btn-success" type="submit">Create</button>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-4 mt-3">
          <div class="input-group ">
            <input class="form-control" type="text" placeholder="name" name="name2">
            <div class="input-group-append">
              <button class="btn btn-success" type="submit">Create</button>
            </div>
          </div>
        </div>
        <div class="col-4 mt-3">
          <div class="input-group ">
            <input class="form-control" type="text" placeholder="name" name="name3">
            <div class="input-group-append">
              <button class="btn btn-success" type="submit">Create</button>
            </div>
          </div>
        </div>
        <div class="col-4 mt-3">
          <div class="input-group ">
            <input class="form-control" type="text" placeholder="name" name="name4">
            <div class="input-group-append">
              <button class="btn btn-success" type="submit">Create</button>
            </div>
          </div>
        </div>
      </div>
    </form> --}}
  </div>
</div>