.total-name {
  color: red;
  font-size: 20px;
}

.total-cost {
  color: red;
  font-size: 80px;
}
.fa-shuttle-van {
  color: #5085ff;
}
.fa-utensils {
  color: #dae47e;
}
.fa-grin-beam {
  color: #ffbed5;
}
.fa-home {
  color: #50f4ff;
}
.fa-pen {
  color: #07342a;
}
/* .btn-major {
  background-color: #fd7e14;
  color: #ffffff;
}

.btn-major:hover {
  background-color: #bd3e00;
  color: #ffffff;
}

.border-major {
  border-color: #fd7e14 !important;
} */
