body {
  min-width: 380px;
}
.total-name {
  color: red;
  font-size: 20px;
}

.total-cost {
  color: red;
  font-size: 80px;
}
.fa-shuttle-van {
  color: #5085ff;
}
.fa-utensils {
  color: #d4e63b;
}
.fa-grin-beam {
  color: #ffbed5;
}
.fa-home {
  color: #50f4ff;
}
.fa-pen {
  color: #07342a;
}
.btn-major {
  background-color: #fd7e14;
  width: 150px;
  height: 50px;
  margin: 0 20px;
}

.btn-major:hover {
  background-color: #bd3e00;
}
.border-reset {
  border-color: #fd7e14 !important;
}
.btn-reset {
  width: 150px;
  height: 50px;
  margin: 0 20px;
}
.btn-reset:hover {
  background-color: #000000;
}
.border-reset {
  border-color: #fd7e14 !important;
}

.form-control,
.custom-select {
  width: 450px;
  margin-left: -15px;
}

.form-select {
  border-radius: 5px;
  height: 35px;
  background-color: rgb(139, 170, 81);
  color: white;
  width: 180px;
  margin-right: -10px;
}

.btn-send-out,
.btn-return {
  width: 100px;
  margin: 15px 20px;
}
#btn-return a {
  color: white;
  text-decoration: none;
}
